<div>

  <div class="regex-part-container">

    @let regexes = regexes$ | async;

    @if(regexes) {
      @for(regex of regexes.regexes; track regex) {
        @if(regex?.regex) {

          <app-colorise-spacial-char class="regex-part" [regex]="regex.regex"></app-colorise-spacial-char>

        } @else {

          <div class="regex-locked-container">
            <div class="pickaxe">
              <img class="pickaxe-img" src="../../../../../assets/sprites/pickaxe.png" alt="pickaxe">
            </div>

            <div class="obsidian-container">
              @for(id of Array.from(Array(4).keys()); track id) {
                <img class="obsidian-img" src="../../../../../assets/sprites/obsidian.png" alt="obsidian">
              }
            </div>

            <div class="regex-part regex-part-locked">{{ regex.readyAt | date: 'HH:mm' }}</div>

          </div>
        }

      }
    }

  </div>

  <div class="grid-word-view-container">
    <table>
      <tbody>

        @let table = getTable$ | async;
        @if (table) {
          @for (indexword of Array.from(Array(table.try).keys()); track indexword) {
            @if (indexword < table.words.length) {
              <tr [ngClass]="{
              'line-empty': isNothing(table.words[indexword]),
              'line-error': isFailed(table.words[indexword]),
              'line-succeed': isSucceeded(table.words[indexword])
            }">

                @for (i of Array.from(Array(table.length).keys()); track i) {

                  @if (i <= table.words[indexword].word.length - 1) {
                    <td class="cellule">{{ table.words[indexword].word[i] }}</td>
                  } @else {
                    <td class="cellule">_</td>
                  }
                }

              </tr>
            } @else {
              <tr [ngClass]="{
              'line-empty': true,
            }">

                @for (i of Array.from(Array(table.length).keys()); track i) {

                  @if (i == 0) {
                    <td class="cellule">{{ table.firstLetter }}</td>
                  } @else {
                    <td class="cellule">_</td>
                  }
                }
              </tr>
            }
          }
        } @else {
          <div>error</div>
        }


      </tbody>
    </table>
  </div>


</div>
