<div class="rules-container">

  <div class="intro-bloc">
    <h1>Le concept</h1>

    <div class="description">
      Regexword est un jeu pour les amoureux de RegEx et de jeux de puzzle. Le challenge que vous propose regexword est de trouver quotidiennement un mot en vous donnant pour seul indice des regex qui se dévoilent dans le temps tout au long de la journée.
    </div>
  </div>

  <div class="intro-bloc">
    <h1>Les règles</h1>

    <div class="description">
      <ul>
        <li>Vous avez le droit à 6 essaies</li>
        <li>Votre champs de saisie est la premier ligne bleu</li>
        <li>Vous pouvez utiliser toutes les lettres de l'alphabet pour taper un mot</li>
        <li>Utiliser la touche 'Backspace' pour effacer la/les dernière(s) lettre tapée(s)</li>
        <li>Appuyez sur la touche 'Enter' valider une réponse.</li>
        <li>Toutes les lettres doivent être saisies pour pouvoir valider la ligne</li>
        <li>Si la ligne est rouge, n'avez pas trouvé le bon</li>
        <li>Si la ligne est verte, bravo vous avez gagné pour aujourd'hui</li>
      </ul>
    </div>
  </div>

</div>
